:root {
	--background-color: #2b333b;
	--background-accent-color: #4b6875;
	--background-inset-color: #202026;
	--background-inset-less-color: #404046;
	--foreground-color: #f0f0f0;
	--foreground-inset-color: #cbcbcb;
}

select, button {
	background-color: var( --background-accent-color );
	color: var( --foreground-color );
	border-color: var(--background-accent-color );
	border-radius: 1em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

input, textarea {
	background-color: var( --background-inset-color );
	border-color: var( --background-accent-color );
	/* border-color: var( --background-inset-color ); */
}
